<div class="violet-about">
    <h4 class="v-section-tit">About Winlly</h4>
    <article class="violet-about-det">
        <p id="J_myFace" class="v-my-face"><img src="/assets/themes/twitter/img/avatar.png" alt="Hello Winlly!" width="40px" height="40px" id="J_myFace_img" /></p>
        <p>程序猿转产品汪</p>

        <p>现就职NetEase，主要负责后台产品。</p>
		<p>专注互联网，移动互联网</p>
		<p>爱足球，而立之年不减青春热血</p>

        <p>明白人性但不对人性失去信心，即使悲伤也不会对世界绝望。</p>
    </article>
    <p class="v-more-right">
        <a href="/about.html"><span>&#10149;</span>More</a>
    </p>
</div><!-- //violet-about -->