			    <div class="violet-attent">
                    <h4 class="v-section-tit">Follow Me</h4>
                    <article class="violet-attent-det fn-clear">
                        <ul class="fn-right">
                            <li><a href="https://github.com/winlly" target="_blank" class="v-github" rel="nofollow"><span>GitHub</span></a></li>                            
                            <li><a href="http://www.weibo.com/winlly" target="_blank" class="v-weibo" rel="nofollow"><span>Weibo</span></a></li>
                            <li><a href="mailto:ywlvip@163.com" target="_blank" class="v-rss" rel="nofollow"><span>email</span></a></li>
                        </ul>
                    </article>
                </div>